PORT=3000
## Para obtener este url hay que seguir los siguientes pasos:
# 1 - Crear canal de disco
# 2 - Ir a ajustes del servidor -> integraciones -> Crear webhook
DISCORD_WEBHOOK_URL="https://discord.com/api/webhooks/asdasd"
# Esta es la clave que usamos dentro del WEBHOOK de GitHub.
SECRET_TOKEN="4510c8cf2fe423f8be5afccbdd30c678677e172b"